.dashboard-product-box {
    overflow: auto;
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    margin: 1rem 1rem 0 0;
}

.table {
    button {
        background-color: white;
        color: red;
        border: none;
        cursor: pointer;
        padding-left: 1.5rem;
    }

    a {
        color: white;
        padding: 0.4rem;
        background-color: rgb(88, 159, 245);
        border-radius: 10px;
        font-size: small;
    }

    img {
        @include square(0.3rem);
    }
}

.create-product-button {
    position: fixed;
    right: 2rem;
    top: 2rem;
    @include square(2.5rem);
    @include flex(row, center, center, 0);
    border-radius: 50%;
    background-color: rgb(201, 9, 9);
    color: white;

    &:hover {
        opacity: 0.8;
    }
}

.product-management {
    @include flex();

    >article {
        border-radius: 5px;
        background-color: white;
        height: 85vh;
        width: 100%;
        max-width: 400px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.216);

        >form {
            @include flex(column, center, center, 1rem);
            letter-spacing: 2px;

            >h2 {
                text-transform: uppercase;
                letter-spacing: 2px;
                text-align: center;
                margin-top: 1.5rem;
            }

            >div {
                position: relative;
                width: 100%;
                max-width: 80%;
                margin: 1rem;

                >label {
                    position: absolute;
                    left: 0;
                    top: -1.5rem;
                    margin-bottom: 1rem;
                }

                >input {
                    @include inputStyle(100%,
                        0.8rem,
                        unset,
                        1px solid rgba(13, 13, 13, 0.196));
                    border-radius: 5px;
                }
            }
        }

        img {
            @include square(5rem);
            object-fit: cover;
            border-radius: 5px;
        }

        button {
            background-color: rgb(5, 107, 224);
            width: 80%;
            height: 2rem;
            color: white;
            border-radius: 5px;
            border: none;
            font-size: 1.1rem;
            cursor: pointer;
        }
    }

    section {
        height: 85vh;
        background-color: white;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.216);
        max-width: 500px;
        width: 100%;
        @include flex(column, unset, unset, 1rem);
        overflow-y: auto;
        position: relative;
        padding: 2rem;

        .transaction-product-card {
            @include flex(row, unset, center, 1rem);

            >img {
                @include square(4rem);
                object-fit: cover;
                border-radius: 5px;
            }

            >span {
                margin-left: auto;
                text-align: center;
            }
        }

        >h2 {
            @include heading(2px);
            text-align: center;
        }

        >span {
            position: absolute;
            top: 2rem;
            right: 2rem;
        }

        >strong {
            font-weight: 300;
            margin-top: 3rem;
        }

        .transaction-img {
            @include square(5rem);
            object-fit: cover;
            vertical-align: bottom;
        }

        >img {
            @include square(100%);
            object-fit: cover;
        }

        >p {
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: center;
        }

        >h3 {
            text-align: center;
            font-size: 2rem;
        }
    }

    .shipping-info-card {
        >h1 {
            text-align: center;
            @include heading(2px);
        }

        >h5 {
            margin: 2rem 0 0 0.5rem;
            font-size: 1.1rem;
            font-weight: 700;
        }

        >p {
            margin: 0.5rem;
        }

        >button {
            margin: 2rem 0;
            padding: 0.4rem;
            padding-left: 10px;
            border: none;
            background-color: rgb(5, 107, 224);
            color: white;
            width: 80%;
            border-radius: 5px;
            font-size: 1.1rem;
            margin-left: 2.4rem;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}